{% if site.intro %}
    <div id="intro">
        <div class="container">
            {% if site.profile_picture %}
                <a href="/about.html">
                <img id="intro-img" src="http://www.gravatar.com/avatar/{{ site.email_md5 }}?s=200">
                </a>
            {% endif %}
            <!-- <h2>
                {% if site.site_heading %}
                    {{ site.site_heading }}
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h2> -->
            <p style="margin-top: 30px; text-align: center;">
                <!-- {{ site.short_bio }}  -->
                Mobile Application Developer
                <br><img width="30" height="30" src="images/swift.png"> <img width="30" height="30" src="images/android.png"> <img width="30" height="30" src="images/technology.png">                            
            </p>
        </div>
    </div>
{% else %}
    <section class="intro">
        <div class="container">
            <h2 class="site-name">
                {% if site.site_heading %}
                    {{ site.site_heading }}
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h2>
        </div>
    </section>
{% endif %}
